<div class="row">
  <div class="col-12" [ngVar]="{}" #filter="ngVar">
    <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
      <advanced-search>
        <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                                  [(filter)]="filter.value" [formSrc]="searchConfigSrc"></app-advanced-search-form>
      </advanced-search>
    </app-advanced-table-search>
  </div>
</div>
<div class="row">
  <div class="col-auto pt-4">
    <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Events.Tables.Events'"></span><span
      class="font-xl text-secondary"></span>
    </div>
    <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Events.Tables.Event'"></span>
    </div>
  </div>
  <div class="col-auto pt-4 pull-right ml-auto">
    <div class="btn-toolbar">
      <div class="btn-group">
        <div class="btn-group ml-2 d-block" role="group" style="font-size: 0;">
          <button type="button" class="btn border border-indigo"
                  (click)="viewMode='table';"
                  [ngClass]="{ 'btn-indigo': viewMode === 'table', 'btn-gray-100 text-gray-300': viewMode === 'calendar' }">
            <i class="fas fa-list"></i>
          </button>
          <button type="button" class="btn border border-indigo" [disabled]="listRepeatFilter === 'recurring'"
                  (click)="viewMode='calendar';"
                  [ngClass]="{ 'btn-indigo': viewMode === 'calendar' , 'btn-gray-100 text-gray-300': viewMode === 'table' }">
            <i class="fas fa-calendar"></i>
          </button>
          <button type="button" class="btn btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" (click)="activateTable()"
                  aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <button [disabled]="!recordsTotal || listRepeatFilter === 'recurring'" class="dropdown-item" (click)="exportCalendar()" [translate]="'Events.ExportICS'"></button>
            <button type="button" [disabled]="!recordsTotal" class="dropdown-item universis-btn-export" [translate]="'Events.ExportXLSX'"></button>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['../../', listTimeType, 'all']" [ngClass]="{'disabled': listRepeatFilter === 'all'}" > {{ 'Events.All' | translate }} </a>
            <a class="dropdown-item" [routerLink]="['../../', listTimeType, 'recurring']" [ngClass]="{'disabled': listRepeatFilter === 'recurring'}"> {{ 'Events.Recursive' | translate }} </a>
            <a class="dropdown-item" [routerLink]="['../../', listTimeType, 'individual']" [ngClass]="{'disabled': listRepeatFilter === 'individual'}"> {{ 'Events.Individual' | translate }} </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="viewMode === 'table'">
  <div class="col-12 mb-4">
    <app-advanced-table #table [scrollable]="true" [autoLoad]="true" [height]="600" (load)="onDataLoad($event)" [configSrc]="tableConfigSrc"></app-advanced-table>
  </div>
</div>
<ng-container *ngIf="viewMode === 'calendar'">
  <universis-events-calendar [events]="events"></universis-events-calendar>
</ng-container>
