<div class="col-12 tab-navbar tab-container">
  <a class="text-secondary nav-link font-lg" [queryParams]="referrerRoute.queryParams" [routerLink]="referrerRoute.commands">
    <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Events.Return'"></span>
  </a>
  <ul class="nav nav-tabs d-flex">
    <li class="nav-item tab-brand disabled">
      <a class="nav-link disabled" href="javascript:void(0)"> {{ location.name }}</a>
    </li>
    <ng-container *ngFor="let item of activePaths">
      <li class="nav-item">
        <a class="nav-link" [translate]="item.name"
           [routerLink]="[item.alternateName]" [ngClass]="{'active': isActive(item.alternateName)}"></a>
      </li>
    </ng-container>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
